.modal {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.modal > .header {
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    padding: 10px 5px;
}
.modal > .actions {
    margin: auto;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.menu-item {
    cursor: pointer;
    padding: 5px;
    height: 28px;
}
.menu-item:hover {
    background: #c8c8c8;
    border-radius: 6px;
}

.loadButton {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: white;
}

