:root {
  --red:#D12626; /* Application */
  --green: #20a781; /* Data */
  --blue: #2324C9; /* Infrastructure */
  --yellow: #e68c05f1; /* People */
  --purple: #7e2cb4; /* Projects */
  --gray: #696969; /* Business */
  --opaque-red: rgba(232, 26, 26, 0.1);
  --opaque-green: rgba(36, 179, 138, 0.1);
  --opaque-blue: rgba(35, 36, 201, 0.1);
  --opaque-yellow: rgba(223, 146, 30, 0.1);
  --opaque-purple: rgba(98, 35, 181, 0.1);
  --opaque-gray: rgba(105, 105, 105, 0.1);
}

.card{
position: relative;
width: 300px;
min-height: 350px;
left: 42px;
top: 60px;
margin: 20px 0;

background: #FFFFFF;
border: 1px solid #D6D6D6;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  margin: 15px 10px 0 0;
}

#assetMenu{
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: normal;
  padding: 5px 0 10px 0;
}

#assetMenuHeader{
  display: flex;
  justify-content: space-between;
}

#assetMenuHeader > div{
  margin: 20px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

#assetMenuHeader > button{
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: white;
}

#assetDetailHeader{
  margin: 20px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
}

#assetDetailSections{
  margin: 20px 0 0 20px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-family: 'Roboto', sans-serif;;
}

#assetName{
  text-align: left;
  font-size: 22px;
  margin: 20px 0 0 20px;
}

.alert {
  position: fixed;
  padding: 12px 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  margin-top: 4px;
  bottom: 10px;
  right: 10px;
  width: 40%;
  opacity: 1;
  font-size: 12px;
	animation: enter 1 ease-in-out 2s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@keyframes enter {
	0% {
		right: -300px
	}
	100% {
		right: 10px;
	}
}

.alert.info {background-color: var(--blue);}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 18px;
  line-height: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}